[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
awscli = "*"
autopep8 = "*"
warrant = "*"
boto3-stubs = {extras = ["cognito-idp", "essential"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
